:root {
  --clr-neon: hsla(0, 0%, 11%, 0.829);
  --clr-bg: hsla(0, 0%, 100%, 0.87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", "Open Sans", sans-serif;
  line-height: 1.5;
  min-height: -webkit-fill-available;
}

.nav-shadow {
  background-color: rgb(68, 68, 68); /* Needed for IEs */
  z-index: 1;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.2);
  position: sticky;
  top: 0;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #22222249;
  border-color: #22222249;
}

.neon-button {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;

  transition: background-color 100ms linear;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  /* background: var(--clr-neon); */
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.predict_image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  pointer-events: none;

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  opacity: 0.3;
  z-index: -1;
}

<<<<<<< HEAD
<<<<<<< HEAD
.predict_hdb{
=======
=======
>>>>>>> ca1307d53179738424482976f2bd6ec68e3c2d34
.form-design {
  background-color: #fff;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1),
    /* Top left */ -2px 2px 8px rgba(0, 0, 0, 0.1),
    /* Top right */ 2px -2px 8px rgba(0, 0, 0, 0.1),
    /* Bottom left */ -2px -2px 8px rgba(0, 0, 0, 0.1); /* Bottom right */
  /* box-shadow: inset 2px 0px 8px rgba(0, 0, 0, 0.1),
    inset -2px 0px 8px rgba(0, 0, 0, 0.1),
    inset 0px 2px 8px rgba(0, 0, 0, 0.1),
    inset 0px -2px 8px rgba(0, 0, 0, 0.1);  */
}

.medical_background img {
<<<<<<< HEAD
>>>>>>> ca1307d53179738424482976f2bd6ec68e3c2d34
=======
>>>>>>> ca1307d53179738424482976f2bd6ec68e3c2d34
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  pointer-events: none;

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  opacity: 0.3;
  z-index: -1;
}
