{% extends "base.html" %} {% block title%} Homepage {% endblock %} {% block
content%}

<div class="container my-5">
  <h1 class="text-center mt-5">Models</h1>
  <hr />
  <div class="container d-flex justify-content-center flex-wrap mt-4">
    <a class="neon-button" , href="/medical_predict"
      >Medical
      <img class="predict_image" src="static\images\medical.jpg" alt="" />
    </a>
    <a class="neon-button" href="/parik"
      >HDB
      <img class="predict_hdb" src="static\images\hdb_bg_img.jpeg" alt="" />
    </a>
  </div>
</div>
{% endblock %}
