{% extends "base.html" %} {% block title%} Medical Model {% endblock %} {% block
content%}
<div class="medical_background">
  <img src="\static\images\Medical Background.jpg" />
  <div class="container my-5">
    <h2 class="mb-5" style="font-weight: bold">Medical Prediction</h2>

    <div class="form-design py-5">
     
      <h2>Predictable Form</h2>
      <form class="py-3"  method="POST">
        <div class="row">

          <div class="form-group col-md-6">
            <div class="mb-3">
              <label for="exampleInputAge" class="form-label">Age</label>
              <input type="number" name = "age" class="form-control" placeholder="Age of a patient"/>
            </div>
          </div>

            <div class="form-group col-md-6">
              <label for="Select" class="form-label">Gender</label>
              <select
                class="mb-3 form-select"
                aria-label="Default select example"
                name="gender"
                class="form-control"
                required
              >
                <option selected disabled>Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
   
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="exampleInputChestPain" class="form-label"
                >Chest Pain Type</label
              >
              <select
                class="mb-3 form-select"
                aria-label="Default select example"
                name="chest_pain"
                class="form-control"
                required
              >
                <option selected disabled>Select Chest Pain Type</option>
                <option value="TA">Typical Angina (TA)</option>
                <option value="ATA">Atypical Angina (ATA)</option>
                <option value="NAP">Non Anginal Pain (NAP)</option>
                <option value="ASY">Asymptomatic (ASY)</option>
              </select>
            </div>
          </div>
          
        </div>

        <div class="row justify-content-md-center">
          <div class="form-group col-md-6">
            <label for="Select" class="form-label">Fasting Blood Sugar</label>

            <select
              class="mb-3 form-select"
              aria-label="Default select example"
              name="fasting_BS"
              class="form-control"
              required
            >
              <option selected disabled>Select fasting_BS</option>
              <option value="0">0</option>
              <option value="1">1</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="Select" class="form-label"
              >Resting ECG</label
            >

            <select
              class="mb-3 form-select"
              aria-label="Default select example"
              name = "resting_ECG"
              class="form-control"
              required
            >
              <option selected disabled>Select Resting_ECG</option>
              <option value="Normal">Normal</option>
              <option value="ST">ST</option>
              <option value="LVH">LVH</option>
            </select>

            <!-- <div id="ageHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <div class="mb-3">
              <label for="exampleInputChestPain" class="form-label"
                >ST Slope</label
              >
              <select
                class="mb-3 form-select"
                aria-label="Default select example"
                name="ST_slope"
                class="form-control"
                required
              >
                <option selected disabled>Select ST_slope</option>
                <option value="TA">Up</option>
                <option value="Flat">Flat</option>
                <option value="Down">Down</option>
              </select>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="Select" class="form-label">Exercise Angina</label>

            <select
              class="mb-3 form-select"
              aria-label="Default select example"
              name="exercise_angina"
              class="form-control"
              required
            >
              <option selected disabled>Select exercise_angina</option>
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </select>

            <!-- <div id="ageHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
        </div>

        <div class="row">
    


          <div class="form-group col-md-6">
            <div class="mb-3">
              <label for="exampleInputCholesterol" class="form-label">Cholesterol</label>
              <input
                type="number"
                class="form-control"
                name="cholesterol"
                id="exampleInputCholesterol"
                aria-describedby="cholesterolHelp"
                min="0"
                max="300"
                placeholder="Serum cholesterol level in blood"
                required
              />
            </div>
        </div>
        <div class="form-group col-md-6">
          <div class="mb-3">
            <label for="exampleInputOldpeak" class="form-label">Oldpeak</label>
            <input
              type="number"
              class="form-control"
              name="old_peak"
              id="exampleInputOldpeak"
              aria-describedby="OldpeakHelp"
              placeholder="Numeric value measured in depression"
              required
            />
          </div>
      </div>
      </div>

        <div class="row">
          <div class="form-group col-md-6">
            <div class="mb-3">
              <label for="exampleInputRestingBP" class="form-label">Blood Pressure (HG)</label>
              <input
                type="number"
                class="form-control"
                name="resting_BP"
                id="exampleInputRestingBP"
                aria-describedby="RestingBPHelp"
                min="0"
                max="200"
                placeholder="Blood pressure in Hg"
                required
              />
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="mb-3">
              <label for="exampleInputMax_HR" class="form-label">Maximum Heart Rate</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputMax_HR"
                name="max_HR"
                aria-describedby="Max_HRHelp"
                min="0"
                max="400"
                placeholder="Maximum heart rate achieved"
                required
              />
            </div>
        </div>

        

        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div> -->

        <!-- <div class="row">
          <label for="customRange3">Age range</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="120"
            step="1"
            id="customRange3"
            oninput="updateValue(this.value)"
          />
          <p>Value: <span id="rangeValue">0</span></p>
        </div> -->


        <button type="submit" value="Predict" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>

    {% if prediction == 0 %}
    <div class="row">
    <div class="card border-success mb-3">
      <div class="card-body text-success">
        <h5 class="card-title">{{prediction}}: Normal</h5>
        <p class="card-text">Probability: {{score}}%</p>
      </div>
    </div>
    {% elif prediction == 1 %}
    <div class="row">
    <div class="card border-danger mb-3">
      <div class="card-body text-danger">
        <h5 class="card-title">{{prediction}}: Cardiovascular Issue Detected</h5>
        <p class="card-text">Probability: {{score}}%</p>
      </div>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="card border-secondary mb-3">
      <div class="card-body text-secondary">
        Make a Prediction
      </div>
    </div>
  </div>
  
  {% endif %}


  </div>
</div>

<script>
  function updateValue(newValue) {
    document.getElementById("rangeValue").textContent = newValue;
  }
  
  
</script>
{% endblock %}
